@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("./partials/navbar.css");
@import url("./partials/search.css");

:root {
  --primary: #264fbc;
  --secondary: #5dd9c1;
  --components-color: #f0f0f0;
  --background: #ffffff;
  --text-link: #264fbc;
  --text: #333333;
  --border: rgba(255, 255, 255, 0.1);
  --borderBlack: rgba(51, 51, 51, 0.1);
}

html {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  color: var(--text);
  font-weight: 300;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
