<main id="hero">
  <div>
    <section>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
      <div class="card-jobs">
        <a href="/">
          <div>
            <h2>Operador de loja</h2>
            <div>Postada Hoje</div>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
            esse deserunt corrupti dolorum blanditiis libero soluta animi quidem
            impedit odio, nostrum ullam hic repellendus veritatis consectetur et
            obcaecati, iure accusamus!
          </p>
          <ul>
            <li><span>Ambev</span></li>
            <li><span>Lages, SC</span></li>
            <li><span>Seg à sext</span></li>
            <li><span>CLT</span></li>
            <li><span>Vale-alimentação</span></li>
            <li><span>13º salário</span></li>
          </ul>
        </a>
      </div>
    </section>
  </div>
</main>
