<header>
  <div id="alert">
    <div>
      <h3>
        Cuidado com golpes! Nunca pague para se candidatar a uma vaga ou compre
        cursos para participar de um processo seletivo.
      </h3>
      <button onclick="closeAlert()" type="button">
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 512 512"
          height="200px"
          width="200px"
          xmlns="http://www.w3.org/2000/svg"
          class="icon-close"
        >
          <path
            d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div id="header-navbar">
    <a href="/">
      <img src="/img/jobs.svg" alt="Logo Jobs" />
    </a>
    <nav>
      <button>
        <svg
          class="icon-bell"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 16 16"
          height="18px"
          width="18px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"
          ></path>
        </svg>
        <span>Alerta</span>
      </button>
      <button>
        <svg
          class="icon-user"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 496 512"
          height="18px"
          width="18px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"
          ></path>
        </svg>
        <span>Entrar</span>
      </button>
      <button>
        <span>Menu</span>
        <svg
          class="icon-menu"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 512 512"
          height="32px"
          width="32px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M432 176H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16zM432 272H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16zM432 368H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h352c8.8 0 16 7.2 16 16s-7.2 16-16 16z"
          ></path>
        </svg>
      </button>
    </nav>
  </div>
</header>
